/* Base navbar styles */
.navbar {
  width: 100%;
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  background-color: #0f0f0f;
  padding: 0.75rem 1.5rem;
  color: white;
  font-weight: 600;
  box-shadow: 0 0 15px rgba(128, 0, 255, 0.2);

}

/* Logo section */
.navbar-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
}

.logo-img {
  width: 32px;
  height: 32px;
  border-radius: 9999px;
}

.logo-highlight {
  color: #60a5fa; /* Tailwind blue-400 */
}

/* Center glowing tabs */
.navbar-tabs-wrapper {
  background: linear-gradient(to right, #6b21a8, #6366f1, #6b21a8);
  width: 550px;

  padding: 0.25rem 0.5rem;
  border-radius: 9999px;
  box-shadow: 0 0 20px rgba(128, 0, 255, 0.6);
}

.navbar-tabs {
  display: flex;
  gap: 1.25rem;
  background-color: #0f0f0f;
  padding: 0.5rem 1.5rem;
  border-radius: 9999px;
  height: 40px;
 
}

.tab-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-left: 20px;
}

.tab-button:hover {
  color: #c084fc; /* Tailwind purple-300 */
}

/* Social icons */
.navbar-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-icons a {
  color: white;
  transition: color 0.3s ease;
}

.navbar-icons a:hover {
  color: #c084fc;
}
